
.theme-promo-box {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    text-align: center;
    list-style: outside none none;
}

/* Common style */

.theme-promo-box figure {
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color: #3085a3;
}

.theme-promo-box figure img {
    width: 100%;
    opacity: 0.8;
    display: block;
    max-width: 100%;
    position: relative;
}

.theme-promo-box figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.theme-promo-box figure figcaption .promo-title {
    font-size: 1.25em;
    color: #ffffff;
}

.theme-promo-box figure figcaption::before,
.theme-promo-box figure figcaption::after {
    pointer-events: none;
}

.theme-promo-box figure figcaption,
.theme-promo-box figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */

/* For some effects it will show as a button */

.theme-promo-box figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.elementor-editor-active .theme-promo-box figure figcaption > a {
    z-index: 1;
}

.theme-promo-box figure .promo-title {
    font-weight: bold;
}

.theme-promo-box figure .promo-title,
.theme-promo-box figure p,
.theme-promo-box figure ul,
.theme-promo-box figure ol {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.theme-promo-box figure p,
.theme-promo-box figure ul,
.theme-promo-box figure ol {
    letter-spacing: 1px;
    font-size: 70%;
}

/*--- 1 ---*/

figure.effect-1 img {
    max-width: none;
    width: calc(100% + 50px);
    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
}

figure.effect-1 figcaption {
    text-align: left;
}

figure.effect-1 figcaption > div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    height: 50%;
}

figure.effect-1 .promo-title,
figure.effect-1 p,
figure.effect-1 ul,
figure.effect-1 ol {
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
}

figure.effect-1 .promo-title {
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    -o-transition: transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
}

figure.effect-1 p,
figure.effect-1 ul,
figure.effect-1 ol {
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, -webkit-transform 0.35s;
    -o-transition: opacity 0.2s, transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
    transition: opacity 0.2s, transform 0.35s, -webkit-transform 0.35s;
}

figure.effect-1:hover img,
figure.effect-1:hover p,
figure.effect-1:hover ul,
figure.effect-1:hover ol {
    opacity: 1;
}

figure.effect-1:hover img,
figure.effect-1:hover .promo-title,
figure.effect-1:hover p,
figure.effect-1:hover ul,
figure.effect-1:hover ol {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-1:hover p,
figure.effect-1:hover ul,
figure.effect-1:hover ol {
    -webkit-transition-delay: 0.05s;
    -o-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    transition-duration: 0.35s;
}

/*--- 2 ---*/

figure.effect-2 figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(72, 76, 97, 0)), color-stop(75%, rgba(72, 76, 97, 0.8)));
    background: -o-linear-gradient(top, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
    background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
    content: "";
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
}

figure.effect-2 .promo-title {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: #484c61;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    -webkit-transition: color 0.35s, -webkit-transform 0.35s;
    transition: color 0.35s, -webkit-transform 0.35s;
    -o-transition: transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

figure.effect-2 figcaption::before,
figure.effect-2 p,
figure.effect-2 ul,
figure.effect-2 ol {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

figure.effect-2 p,
figure.effect-2 ul,
figure.effect-2 ol {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
}

figure.effect-2:hover .promo-title {
    color: #fff;
    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
    transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
}

figure.effect-2:hover figcaption::before,
figure.effect-2:hover p,
figure.effect-2:hover ul,
figure.effect-2:hover ol {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/*--- 3 ---*/

figure.effect-3 {
    background-color: #18a367;
}

figure.effect-3 img {
    height: auto;
    max-width: calc(100% + 30px);
    width: calc(100% + 30px);
}

figure.effect-3 figcaption {
    padding: 3em;
}

figure.effect-3 figcaption::before,
figure.effect-3 figcaption::after {
    position: absolute;
    content: "";
    opacity: 0;
}

figure.effect-3 figcaption::before {
    top: 50px;
    right: 30px;
    bottom: 50px;
    left: 30px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

figure.effect-3 figcaption::after {
    top: 30px;
    right: 50px;
    bottom: 30px;
    left: 50px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

figure.effect-3 .promo-title {
    padding-top: 26%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    -o-transition: transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
}

figure.effect-3 p,
figure.effect-3 ul,
figure.effect-3 ol {
    padding: 0.5em 2em;
    text-transform: none;
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
}

figure.effect-3 img,
figure.effect-3 .promo-title {
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(-30px, 0, 0);
}

figure.effect-3 img,
figure.effect-3 figcaption::before,
figure.effect-3 figcaption::after,
figure.effect-3 p,
figure.effect-3 ul,
figure.effect-3 ol {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

figure.effect-3:hover img {
    opacity: 0.7;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-3:hover figcaption::before,
figure.effect-3:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

figure.effect-3:hover .promo-title,
figure.effect-3:hover p,
figure.effect-3:hover ul,
figure.effect-3:hover ol {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-3:hover figcaption::after,
figure.effect-3:hover .promo-title,
figure.effect-3:hover p,
figure.effect-3:hover img,
figure.effect-3:hover ul,
figure.effect-3:hover ol {
    -webkit-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

/*--- 4 ---*/

figure.effect-4 {
    background: -o-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
    background: linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
}

figure.effect-4 img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    -o-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-4 figcaption {
    padding: 3em;
    background-color: rgba(58, 52, 42, 0.7);
    -webkit-transition: background-color 0.35s;
    -o-transition: background-color 0.35s;
    transition: background-color 0.35s;
}

figure.effect-4 figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: "";
}

figure.effect-4 .promo-title {
    margin: 20% 0 10px 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    -o-transition: transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

figure.effect-4 figcaption::before,
figure.effect-4 p,
figure.effect-4 ul,
figure.effect-4 ol {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

figure.effect-4:hover .promo-title {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-4:hover figcaption::before,
figure.effect-4:hover p,
figure.effect-4:hover ul,
figure.effect-4:hover ol {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

figure.effect-4:hover figcaption {
    background-color: rgba(58, 52, 42, 0);
}

figure.effect-4:hover img {
    opacity: 0.4;
}

/*--- 5 ---*/

figure.effect-5 figcaption {
    text-align: right;
}

figure.effect-5 .promo-title,
figure.effect-5 p,
figure.effect-5 ul,
figure.effect-5 ol {
    position: absolute;
    right: 30px;
    left: 30px;
    padding: 10px 0;
}

figure.effect-5 p,
figure.effect-5 ul,
figure.effect-5 ol {
    bottom: 30px;
    line-height: 1.5;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

figure.effect-5 .promo-title {
    top: 30px;
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    -o-transition: transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}

figure.effect-5:hover .promo-title {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-5 .promo-title::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    content: "";
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
}

figure.effect-5 .promo-title::after,
figure.effect-5 p,
figure.effect-5 ul,
figure.effect-5 ol {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

figure.effect-5:hover .promo-title::after,
figure.effect-5:hover p,
figure.effect-5:hover ul,
figure.effect-5:hover ol {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/*--- 6 ---*/

figure.effect-6 {
    background-color: #17819c;
}

figure.effect-6 img {
    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

figure.effect-6:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

figure.effect-6 .promo-title {
    margin-top: 5%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    -o-transition: transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}

figure.effect-6 p,
figure.effect-6 ul,
figure.effect-6 ol {
    margin: 1em 0 0;
    padding: 3em;
    border: 1px solid #fff;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0) scale(1.1);
    transform: translate3d(0, 20px, 0) scale(1.1);
}

figure.effect-6:hover .promo-title {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-6:hover p,
figure.effect-6:hover ul,
figure.effect-6:hover ol {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}

/*--- 7 ---*/

figure.effect-7 {
    background: -o-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
    background: linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
}

figure.effect-7 img {
    max-width: none;
    width: calc(100% + 30px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
}

figure.effect-7 figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: "";
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
}

figure.effect-7 figcaption {
    padding: 3em;
    text-align: left;
}

figure.effect-7 .promo-title {
    padding: 30% 0 10px 0;
}

figure.effect-7 p,
figure.effect-7 ul,
figure.effect-7 ol {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
}

figure.effect-7:hover img {
    opacity: 0.7;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-7:hover figcaption::before,
figure.effect-7:hover p,
figure.effect-7:hover ul,
figure.effect-7:hover ol {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/*--- 8 ---*/

figure.effect-8 {
    background: #9e5406;
}

figure.effect-8 img {
    opacity: 0.7;
    -webkit-transition: opacity 0.35s;
    -o-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-8:hover img {
    opacity: 0.4;
}

figure.effect-8 figcaption::before,
figure.effect-8 figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: "";
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

figure.effect-8 figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
}

figure.effect-8 figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0);
}

figure.effect-8 .promo-title {
    padding-top: 30%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    -o-transition: transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
}

figure.effect-8 p,
figure.effect-8 ul,
figure.effect-8 ol {
    padding: 20px 2.5em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}

figure.effect-8:hover figcaption::before,
figure.effect-8:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

figure.effect-8:hover .promo-title,
figure.effect-8:hover p,
figure.effect-8:hover ul,
figure.effect-8:hover ol {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/*--- 9 ---*/

figure.effect-9 {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

figure.effect-9 img {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(0, 0, 300px);
    transform: translate3d(0, 0, 300px);
}

figure.effect-9:hover img {
    opacity: 0.6;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-9 figcaption::before,
figure.effect-9 figcaption::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 1px;
    background: #fff;
    content: "";
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

figure.effect-9:hover figcaption::before {
    opacity: 0.5;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
}

figure.effect-9:hover figcaption::after {
    opacity: 0.5;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}

figure.effect-9 .promo-title,
figure.effect-9 p,
figure.effect-9 ul,
figure.effect-9 ol {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    -o-transition: transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
}

figure.effect-9 .promo-title {
    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -150%, 0);
    transform: translate3d(0, -50%, 0) translate3d(0, -150%, 0);
}

figure.effect-9 p,
figure.effect-9 ul,
figure.effect-9 ol {
    padding: 0.25em 2em;
    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, 150%, 0);
    transform: translate3d(0, -50%, 0) translate3d(0, 150%, 0);
}

figure.effect-9:hover .promo-title {
    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -100%, 0);
    transform: translate3d(0, -50%, 0) translate3d(0, -100%, 0);
}

figure.effect-9:hover p,
figure.effect-9:hover ul,
figure.effect-9:hover ol {
    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, 100%, 0);
    transform: translate3d(0, -50%, 0) translate3d(0, 100%, 0);
}

/*--- 10 ---*/

figure.effect-10 {
    background: #42b078;
}

figure.effect-10 img {
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.effect-10:hover img {
    opacity: 0.4;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-10 figcaption {
    text-align: left;
}

figure.effect-10 .promo-title {
    position: relative;
    overflow: hidden;
    padding: 0.5em 0;
}

figure.effect-10 .promo-title::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    content: "";
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    -o-transition: transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

figure.effect-10:hover .promo-title::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-10 p,
figure.effect-10 ul,
figure.effect-10 ol {
    padding: 1em 0;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

figure.effect-10:hover p,
figure.effect-10:hover ul,
figure.effect-10:hover ol {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/*--- 11 ---*/

figure.effect-11 img {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: scale(1.12);
    -ms-transform: scale(1.12);
    transform: scale(1.12);
}

figure.effect-11:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

figure.effect-11 figcaption {
    padding: 3em;
}

figure.effect-11 figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: "";
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

figure.effect-11 figcaption::before,
figure.effect-11 p,
figure.effect-11 ul,
figure.effect-11 ol {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

figure.effect-11 .promo-title {
    padding: 20% 0 20px 0;
}

figure.effect-11 p,
figure.effect-11 ul,
figure.effect-11 ol {
    margin: 0 auto;
    max-width: 200px;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

figure.effect-11:hover figcaption::before,
figure.effect-11:hover p,
figure.effect-11:hover ul,
figure.effect-11:hover ol {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

/*--- 12 ---*/

figure.effect-12 {
    background: #2e5d5a;
}

figure.effect-12 img {
    max-width: none;
    width: -webkit-calc(100% + 60px);
    width: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(-30px, 0, 0) scale(1.12);
    transform: translate3d(-30px, 0, 0) scale(1.12);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.effect-12:hover img {
    opacity: 0.5;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}

figure.effect-12 .promo-title {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1em 1.2em;
}

figure.effect-12 p,
figure.effect-12 ul,
figure.effect-12 ol {
    padding: 0 10px 0 0;
    width: 50%;
    border-right: 1px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
}

figure.effect-12:hover p,
figure.effect-12:hover ul,
figure.effect-12:hover ol {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/*--- 13 ---*/

figure.effect-13 {
    background: #3498db;
}

figure.effect-13 img {
    opacity: 0.95;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
}

figure.effect-13 figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    content: "";
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    -o-transition: transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}

figure.effect-13 p,
figure.effect-13 ul,
figure.effect-13 ol {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 3em;
    padding: 0 1em;
    max-width: 150px;
    border-right: 4px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    -o-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-13 .promo-title {
    text-align: left;
}

figure.effect-13:hover img {
    opacity: 0.6;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

figure.effect-13:hover figcaption::before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}

figure.effect-13:hover p,
figure.effect-13:hover ul,
figure.effect-13:hover ol {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

/*--- 14 ---*/

figure.effect-14 {
    background: -o-linear-gradient(135deg, #f3cf3f 0%, #f33f58 100%);
    background: linear-gradient(-45deg, #f3cf3f 0%, #f33f58 100%);
}

figure.effect-14 img {
    opacity: 0.9;
}

figure.effect-14 figcaption::after,
figure.effect-14 img,
figure.effect-14 p,
figure.effect-14 ul,
figure.effect-14 ol {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

figure.effect-14 figcaption::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    content: "";
    opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
    transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

figure.effect-14 .promo-title,
figure.effect-14 p,
figure.effect-14 ul,
figure.effect-14 ol {
    opacity: 1;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
}

figure.effect-14 .promo-title {
    padding-top: 26%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    -o-transition: transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
}

figure.effect-14 p,
figure.effect-14 ul,
figure.effect-14 ol {
    padding: 0.5em 2em;
    text-transform: none;
    font-size: 0.85em;
    opacity: 0;
}

figure.effect-14:hover img {
    opacity: 0.7;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
}

figure.effect-14:hover figcaption::after {
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
    transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
}

figure.effect-14:hover .promo-title,
figure.effect-14:hover p,
figure.effect-14:hover ul,
figure.effect-14:hover ol {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

/*--- 15 ---*/

figure.effect-15 {
    background: #030c17;
}

figure.effect-15 img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    -o-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-15 figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.2);
    content: "";
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: scale3d(1.4, 1.4, 1);
    transform: scale3d(1.4, 1.4, 1);
}

figure.effect-15 .promo-title {
    margin: 20% 0 10px 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    -o-transition: transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
}

figure.effect-15 p,
figure.effect-15 ul,
figure.effect-15 ol {
    padding: 1em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

figure.effect-15:hover .promo-title {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

figure.effect-15:hover figcaption::before,
figure.effect-15:hover p,
figure.effect-15:hover ul,
figure.effect-15:hover ol {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

figure.effect-15:hover figcaption {
    background-color: rgba(58, 52, 42, 0);
}

figure.effect-15:hover img {
    opacity: 0.4;
}

@media only screen and (max-width: 480px) {
    .theme-promo-box figure figcaption .promo-title {
        font-size: 0.8em;
    }

    .theme-promo-box figure p,
    .theme-promo-box figure ul,
    .theme-promo-box figure ol {
        font-size: 50%;
    }

    .theme-promo-box figure figcaption {
        padding: 10px 40px !important;
    }

    .theme-promo-box figure.effect-8 figcaption {
        padding: 0 10px !important;
    }

    .theme-promo-box figure.effect-8 .promo-title {
        padding-top: 50px;
    }

    .theme-promo-box figure.effect-9 p,
    .theme-promo-box figure.effect-9 ul,
    .theme-promo-box figure.effect-9 ol {
        top: 50px;
    }

    .theme-promo-box figure.effect-9:hover p,
    .theme-promo-box figure.effect-9:hover ul,
    .theme-promo-box figure.effect-9:hover ol {
        top: 65px;
    }

    .theme-promo-box figure.effect-1 figcaption > div {
        height: 80%;
    }
}


/*--- 16 ---*/
figure.effect-16 img {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: scale(1.12);
    -ms-transform: scale(1.12);
    transform: scale(1.12);
}

figure.effect-16:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

figure.effect-16 figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
}

figure.effect-16 figcaption::before {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 1px solid #ffffff96;
    content: "";
}

figure.effect-16 figcaption::before,
figure.effect-16 p,
figure.effect-16 ul,
figure.effect-16 ol {
    transition: 0.35s;
}


figure.effect-16 p,
figure.effect-16 ul,
figure.effect-16 ol {
    margin: 20px auto 0;
    max-width: 200px;
    transform: scale(1.2);
}

figure.effect-16:hover figcaption::before,
figure.effect-16:hover p,
figure.effect-16:hover ul,
figure.effect-16:hover ol {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
