@font-face {
    font-family: 'Gandom';
    font-display: swap;
    src: url('Gandom-FD.woff2') format("woff2");
    font-weight: 400;
}

.font-Gandom {
    font-family: 'Gandom' !important;
}